.carrousel-container {
    background-color: #A2B7B3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


.carrousel-title {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.505);
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
}

.carrousel {
    height: 30vh;
    margin-bottom: 2rem;
    padding: 1rem;
}


.carrousel-img {
    width: 70% !important;
    height: 30vh !important;
    object-fit: cover !important;
    border-radius: 2rem !important;
    box-shadow: 0px 12px 15px grey;

}

@media (min-width: 770px) {
    .carrousel-img {
        width: 80%;
    }
}

.city-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: .5rem;
    color: white;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.881);

}

.country-title {
    font-size: 15px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.865);
}

.sc-ifAKCX {
    width: 100% !important;

}

.sc-dnqmqq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 490px) {
    .carrousel-title {
        font-size: 27px;
    }
}

@media (max-width: 380px) {
    .carrousel-title {
        font-size: 22px;

    }
}