.cover-container {
    height: 80vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.cover-video {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -2;
}

.cover-title {
    font-size: 100px;
    text-align: center;
    color: #EDDAD4;
    text-shadow: 0px 15px 20px grey;
}

.cover-subt {
    padding-top: 2rem;
    font-size: 30px;
    text-align: center;
    color: #95ACA8;
    text-shadow: 0px 1px white;
    letter-spacing: 2px;
}

.slogan {

    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Seaweed Script', cursive;
}

@media (max-width: 680px) {
    .cover-title {
        font-size: 55px;
    }
}

@media (max-width: 680px) {
    .cover-subt {
        font-size: 20px;
    }
}

@media (max-width: 680px) {
    .slogan {
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    .cover-title {
        font-size: 40px;

    }
}

@media (max-width: 380px) {
    .cover-subt {
        font-size: 18px;

    }
}

@media (max-width: 380px) {
    .slogan {
        font-size: 15px;
    }
}