.itineraries-title {
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 50px;
    text-align: center;
    color: rgb(254, 252, 252);
    text-shadow: 5px 10px 30px rgba(4, 4, 4, 0.911);
    letter-spacing: 2px;
}

@media (max-width: 840px) {
    .itineraries-title {
        font-size: 45px;
    }
}

@media (max-width: 680px) {
    .itineraries-title {
        font-size: 40px;
    }
}

@media (max-width: 380px) {
    .itineraries-title {
        font-size: 35px;

    }
}

/*titulo itineraries*/

.iti-title {
    font-size: 35px !important;
    color: rgba(0, 0, 0, 0.584) !important;
    margin: 0 !important;
    margin-top: 2rem !important;

}

@media (max-width: 680px) {
    .iti-title {
        font-size: 30px !important;
    }
}

@media(max-width:460px) {
    .iti-title {
        font-size: 20px !important;
        padding-bottom: 0;
    }
}


/*boton more info*/

.nextui-c-kRHeuF {
    width: 95% !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

@media(max-width: 540px) {
    .nextui-c-kRHeuF {
        width: 95% !important;
        padding: 0 !important;
        padding-bottom: .5rem !important;
    }
}

/*caja del titulo del boton*/

.nextui-c-dWWWSv {
    width: 65vw !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/*flechita boton*/

.nextui-c-fUXRSc {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    margin-left: .5rem;
    box-shadow: 0px 3px 10px rgba(8, 8, 8, 0.413);
}

.nextui-c-fUXRSc {
    fill: black !important;

}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

/*descripcion itinerario*/

.nextui-c-PJLV .nextui-c-PJLV-ijmidZT-css {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.nextui-c-PJLV {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 !important;
    padding: .5rem !important;
}

@media(max-width:460px) {
    .nextui-c-PJLV {
        width: 100%;
        text-align: center;
        font-size: 13px;

    }
}

/*caja author*/

.nextui-c-ijHtNE {
    width: 100% !important;
    height: 5rem;
    display: flex !important;
    flex-direction: row;
    padding: 1rem !important;
}

@media(max-width:460px) {
    .nextui-c-ijHtNE {
        width: 100% !important;
        height: 5rem;
        margin: 1rem;
    }
}

/*caja del avatar del author*/

.nextui-c-fFabR {
    height: 4rem !important;
    width: 4rem !important;
}

@media(max-width:460px) {
    .nextui-c-fFabR {
        height: 2.3rem !important;
        width: 2.3rem !important;
    }
}

@media(max-width:460px) {
    .nextui-c-kRHeuF {
        padding: 0 !important;
    }

    .nextui-c-hPzDAx {
        padding: 0 !important;
        width: 20px;
    }

}

/*price-duration/likes*/

.price-duration {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width:460px) {
    .price-duration {
        margin-top: .6rem;
    }
}

.price-dur {
    padding: 1rem !important;
}

@media(max-width:590px) {

    .price-dur {
        font-size: 13px;
    }
}

.nextui-collapse-title-content {
    text-align: center;
}

.nextui-collapse-title {
    font-size: 20px !important;
    padding-left: 1.6rem;
    text-shadow: 0px 3px 10px rgba(8, 8, 8, 0.413);
    letter-spacing: 1.5px;
}



@media(max-width:460px) {
    .nextui-collapse-title {
        font-size: 14px !important;
        padding-left: .8rem;
    }

}

.nextui-avatar-bg {
    height: 5rem !important;
    width: 5rem !important;
    background-color: #EA839B !important;
}

.nextui-avatar-img {
    height: 3.3rem !important;
    width: 3.3rem !important;
    box-shadow: 0px 3px 10px rgba(8, 8, 8, 0.413);
}

@media(max-width: 460px) {
    .nextui-avatar-img {
        height: 3rem !important;
        width: 3rem !important;
    }
}


.nextui-c-hEcroZ {
    font-size: 35px !important;
    margin-left: 1rem;
    font-family: 'Seaweed Script', cursive;
}

@media(max-width: 460px) {
    .nextui-c-hEcroZ {
        font-size: 25px !important;
        margin-left: .5rem;
        font-family: 'Seaweed Script', cursive;
    }
}

.nextui-c-hPzDAx {
    width: 100% !important;
}

.iti-card {
    transition: all .2s;
    width: 70% !important;
    margin-bottom: 2rem !important;
}

@media(max-width: 720px) {
    .iti-card {
        width: 80% !important;
    }
}

@media(max-width: 460px) {
    .iti-card {
        width: 85% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.iti-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 40px rgba(9, 9, 9, 0.822);
}

.iti-card:active {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgb(14, 14, 14);
}

.iti-card:hover:after {
    transform: scaleX(2) scaleY(2.5);
    opacity: 0;
}

.funtitle {
    color: white;
    text-shadow: 5px 10px 30px rgba(4, 4, 4, 0.911);
    font-size: 30px !important;
    margin: 1rem !important;
}

@media(max-width: 460px) {
    .funtitle {
        color: white;
        text-shadow: 5px 10px 30px rgba(4, 4, 4, 0.911);
        padding-bottom: 1rem;
        font-size: 15px;
    }
}

.price-duration-hash {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #E993A6;
    padding-top: 1rem !important;
}

@media(max-width: 590px) {
    .price-duration-hash {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.price-dur-hash {
    padding: .5rem !important;
}

@media(max-width:920px) {
    .price-dur-hash {
        padding: 0rem !important;
        width: 100%;
        text-align: center;
    }
}

.price-duration-like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nextui-c-eFfoBo {
    padding: 0 !important;
}

.nextui-c-dWWWSv {
    width: 100% !important;
}

.nextui-c-fMAxGR{
    width: 90%;
}

.button-like{
    border: none;
    background-color: transparent;
}

.like{
    color: #EA839B !important;
    font-size: 30px !important;
}

@media(max-width: 460px){
    .like{
        color: #EA839B !important;
        font-size: 20px !important;
    }
}

.nolike{
    color: #E993A6 !important;
    font-size: 30px !important;
}

@media(max-width: 460px) {
    .nolike{
        color: #E993A6 !important;
        font-size: 20px !important;
    }
}

.like-text{
    padding: 0!important;
    margin: 0 !important;
}

/*ACTIVITIES*/

.activities-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

@media(max-width: 400px){
    .activities-container{
        width: 100%;
    }
}

.nextui-expand-content{
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activ-name{
    height: 20vh;
    font-size: 17px;
    color: white;
    padding-top: 1rem;
}

.funtitle{
    font-size: 40px;
}

@media(max-width: 920px){
    .funtitle{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}

/* CARDS ACTIVITIES */

.nextui-c-fMAxGR{
    width: 100% !important;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
}

.card-activ {
    border: none;
    margin: 1rem !important;
    width: 200px !important;
    height: 300px !important;
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    box-shadow: 0px 12px 15px grey;
}

.card-activ:hover {
    transform: scale(.9);
}

.card-activ:hover::after {
    height: 300px !important;
    background-color: rgba(0, 0, 0, 0.518);
}

.card-activ:hover .text-activ p {
    margin-top: 1rem;
    margin-bottom: 0px;
    opacity: 2;
    border-radius: 20px;
    padding: .5rem;
}

.card-activ:hover .card-img-activ {
    transform: scale(1.25);
}

.card-activ::after {
    width: 100%;
    content: "";
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, #F1E0DC (66, 65, 65, 0) 0%, #F1E0DC (0, 0, 0, 1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.card-img-activ{
    object-fit: cover;
    z-index: 10;
    transition: all .25s ease;
}

.card-activ .text-activ {
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: white;
    text-shadow: 0px 5px 8px black;
    padding: 20px;


}

.card-activ .text-activ h2 {
    font-family: 'Paytone One', sans-serif !important;
}

.card-activ .text-activ p {
    padding-top: 1rem;
    font-size: 0.9rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-shadow: 2px 8px 8px black !important;
    font-family: 'Poppins', sans-serif;

}

/* COMMENTS CONTAINER */

.comment-box-comment{
    border: 2px solid pink;
    padding: .5rem;
    margin-top: 2rem;
    border-radius: 30px !important;
    box-shadow: 0px 12px 15px grey;
    background-color: white;
    width: 100%;

}

.login-box{
    padding: 2rem;
}
.boxes{
    background-color:  #deacb877;
    border-radius: 30px;
    margin: .5rem;
    padding: 1rem;
}

.comments-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author{
    font-size: 16px;
    text-align: left;
}

@media(max-width: 900px){
    .comment-author{
        font-size: 12px;
    }
}

@media(max-width: 700px){
    .comment-author{
        font-size: 10px;
    }
}

.comment-box{
    width: 60%;
    text-align: left;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 20px;
}

@media(max-width: 900px){
    .comment-box{
        width: 60%;
        text-align: left;
        padding-left: 1rem;
        font-size: 10px;
        padding: .5rem;
    }
}

.css-e53awj-MuiStack-root{
    margin: .5rem !important;
    width: 4rem!important;
}

@media(max-width: 900px){
    .css-e53awj-MuiStack-root{
        margin: 0 !important;
    }
}

@media(max-width:900px){
.MuiAvatar-root{
    height: 40px !important;
    width: 40px !important;
}
}


.comment-buttons{
    margin: 0rem;
    
}

.comment-button{
    width: 5rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 10px;
    margin: 0.8rem;
    background-color:#95aca8a5 ;
}

.comment-button::before {
    border-radius: 10px;
   
}





