.sign-container {
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px #95aca8a7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../assets/itineraries2.png);
    padding-bottom: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;

}

.signform-title {
    padding-bottom: 1rem;
    width: 40%;
    font-size: 90px;
    text-align: center;
    color: white;
    font-family:  'Seaweed Script', cursive;
    text-shadow: 0px 0px 40px grey;
    letter-spacing: 2px;
}

@media (max-width: 1000px) {
    .signform-title {
        font-size: 90px;
        padding-bottom: 1rem;
    }
}

@media (max-width: 830px) {
    .signform-title {
        font-size: 80px;
        padding-bottom: 1rem;
    }
}

@media (max-width: 680px) {
    .signform-title {
        width: 100%;
        font-size: 45px;
        padding-bottom: 1rem;
    }
}

@media (max-width: 380px) {
    .signform-title {
        font-size: 30px;
        padding-bottom: 1rem;

    }
}

/*card general*/

.sign-card {
    width: 50% !important;
    padding: 2rem !important;
}

@media(max-width: 720px) {
    .sign-card {
        width: 75% !important;
    }
}

@media(max-width: 460px) {
    .sign-card {
        width: 95% !important;
    }
}

.choose-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
    border-radius: 30px;
    margin-top: 2rem;
    background-image: url(../assets/itineraries2.png);
    box-shadow: inset 0 0 0 1000px #95aca85d;
    padding: 2rem;
}

.choose-country{
    color: black;
    font-size: 30px;
}

@media(max-width: 1030px){
    .choose-country{
        font-size: 25px;
    }
}

@media(max-width: 500px){
    .choose-country{
        font-size: 20px;
        padding: 0;
    }
}

/*contenedor inputs*/

.nextui-c-kRHeuF{
    margin: 0 !important;
    width: 100% !important;
}

.nextui-c-hzQjrs{
    margin-top: 0 !important;
    padding: 0;
    height: 3vh;
    font-size: 13px;
}

/*inputs*/

.form{
   width: 100%;
    padding: 0;
}

.input-forms{
    height: 4.5vh;
    width: 100%;
}


/*select input*/

.select-forms{
    width: 70%;
    height: 5vh;
    margin-bottom: .5rem;
    font-size: 13px;
    color: #212121 !important;
    background-color: #EDDAD4;
    border-radius: 17px;
    text-align: center;
    border: none;
}

@media(max-width: 768px){
    .select-forms{
        width: 70%;
        font-size: 13px;
    }
}

.css-1s2u09g-control{
  border-color: none !important;
  background-color: #EDDAD4 !important;
  border-radius: 15px!important;
}

.css-14el2xx-placeholder{
    color: #212121 !important;
}



/*BOTONES*/
/*CONTENEDOR*/

.buttons-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BOTON CREATE ACCOUNT*/

.first-btn {
    height: 6vh;
    padding: 5px 15px;
    margin-top: 1rem;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #EA839B;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    -webkit-box-shadow: 4px 8px 19px -5px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 15px 20px grey;
    transition: all 250ms;
    overflow: hidden;
}

.first-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.first-btn:hover {
    color: #e8e8e8;
}

.first-btn:hover::before {
    width: 100%;
}

@media(max-width: 670px){
    .first-btn {
    height: 6vh;
    padding: 5px 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: unset;
    border-radius: 10px;
    font-size: 12px;
    }
    
}


/*CONTENEDOR LOGIN/CREATE*/

.boxlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*TITULOS BOXES*/

.boxtitle{
    font-size: 14px;
    text-align: center;
    text-align: center;
    margin: .8rem;
}

/*SEGUNDO BOTON*/

.second-btn {
    height: 6vh;
    padding: 5px 15px;
    margin-top: 0rem;
    border: unset;
    border-radius: 10px;
    color: #212121;
    z-index: 1;
    background: #EA839B;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    -webkit-box-shadow: 4px 8px 19px -5px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 15px 20px grey;
    transition: all 250ms;
    overflow: hidden;
}

.second-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.second-btn:hover {
    color: #e8e8e8;
}

.second-btn:hover::before {
    width: 100%;
}

@media(max-width: 670px){
    .second-btn {
    height: 6vh;
    padding: 5px 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: unset;
    border-radius: 10px;
    font-size: 12px;
    }
    
}


