@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-root {
  font-family: 'Paytone One', sans-serif !important;
}

.Links{
  text-decoration: none;
}

.paginaconstruccion{
  background-color: #EDDAD4;
  height: 62vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.titulo-construccion{
    letter-spacing: 2px;
    text-align: center;
    color: rgb(3, 75, 75);
    font-size: 30px;
    padding-bottom: .5rem;
    z-index: 1;
}

.plane-image {
  height: 18rem;
  position: absolute;
  z-index: 0;
}
