.call-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.call-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.call-title {
    width: 370px;
    text-align: center;
    color: rgb(3, 75, 75);
    font-size: 30px;
    padding-bottom: .5rem;
}

.call-description {
    font-family: 'Seaweed Script', cursive;;
    text-align: center;
    color: black;
    margin-top: 2vh;
    font-size: 40px;
    margin-bottom: 2rem;
}

.call-button {
    font-family: 'Paytone One', sans-serif !important;
  
}

.call-image {
 width: 240px;
 height: 300px;
}

@media (max-width: 680px){
    .call-image{
        width: 200px;
        height: 280px;
    }}

@media (max-width: 680px){
    .call-title{
        font-size: 23px;
        width: 300px;
    }}

@media (max-width: 680px){    
    .call-description{
            font-size: 28px;
     }}