.cover-container {
    height: 80vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-video {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -2;
}

.cover-title {
    font-size: 50px;
    text-align: center;
    color: #EDDAD4;
    text-shadow: 0px 1px white;
}

.cover-subt {
    padding-top: 2rem;
    font-size: 23px;
    text-align: center;
    color: #7ea6a6;
    text-shadow: 0px 1px white;
    letter-spacing: 2px;
}  

.slogan {

    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Seaweed Script', cursive;
}