.footer-container {
    width: 100%;
    padding: 1rem;
    background-color: #9fc5c5a9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
@media (max-width: 575px){
    .footer-container{
       padding: 4px;
    }}

.foot-nav {
    display: flex;
}

.logo-footer {
    height: 15vh;
}

@media (max-width: 575px){
    .logo-footer{
        height: 10vh;
    }}

.footer-navbar {
   height: 15vh;
   padding-left: 1rem;
   display: flex;
   align-items: center;
}

@media (max-width: 575px){
    .footer-navbar{
        height: 3rem;
        padding-left: 0;
    }}

.media-container {
height: 15vh;
display: flex;
align-items: center;
}

@media (max-width: 575px){
    .media-container{
        height: 10vh;
    }}


.footer-link {
    text-decoration: none;
    padding: .5rem;
    color: black;
    font-family: 'Paytone One', sans-serif !important;
    font-size: 20px;
}

@media (max-width: 575px){
    .footer-link{
        font-size: 15px;
        padding: .2rem;
    }}

.social-media{
    height: 12vh;
    margin-left: .3rem;
}

@media (max-width: 575px){
    .social-media{
        height: 8vh;
        margin-left: 0;
    }}

.media-container a:hover{
    background-color: #EDDAD4 !important;
    border-radius: 10em;
}

.footer-navbar a:hover{
    color: #EDDAD4 !important;
    text-shadow: 2px 2px black;
}

