.BackroundImage {
  height: 100vh;
  background-image: url(/src/images/backround1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}